#top {
    width: 800px;
    background-color: #dcc9f4;
    margin: 20px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top .top-child {
    width: 20%;
    background-color: #ffd9df;
    display: inline-block;
}